{%extends 'layout.html'%}

{% block body%}
 
<form>
    <div class="email_log">
        <label for="form-label">Email</label>
        <input type="email">
    </div>
    <div class="password-log">
        <label for="form-label">Password</label>
        <input type="password">
    </div>
    <div class="cheackbox_log">
        <input type="checkbox" class="#">
        <label for="form-label">Recordar (opcional)</label>
    </div>
    <button type="submit" class="button-form">Ingresar</button>
    <div class="container">
        <a href="#">¿Olvidó su contraseña?</a>
    </div>

</form>

  


{% endblock %}