{%extends 'layout.html'%}



{% block body%}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container ">

    <div class="card m-3">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    Todas las mascotas ingresadas
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    <a class="btn btn-primary" href="/mascotas/crear">Ingresar mascota</a>
                </div>
            </div>

            <!-- de 12 columnas asignamos el uso de 4 -->

        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha ingreso</th>
                        <th>Estado</th>
                        <th>Cliente</th>
                        <th>Tipo animal</th>
                        <th>Raza</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Chip</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% if items|length > 0%}
                    {% for item in items %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.ingreso}}</td>
                        <td class="{{item.td_class}}">{{item.estado}}</td>
                        <td>{{item.cli_rut}}</td>
                        <td>{{item.tipo}}</td>
                        <td>{{item.raza}}</td>
                        <td>{{item.a_nombre}}</td>
                        <td>{{item.edad}}</td>
                        <td>{{item.chip}}</td>
                        <td>{{item.descripcion}}</td>
                        {% if item.estado_animal_id == 3 %}
                        <td>
                            <button  class="btn btn-success show" id_animal="{{item.id}}"><i class="fa-solid fa-eye"></i> Ver</button>
                        </td>
                        {% endif %}

                        {% if item.estado_animal_id == 1 or item.estado_animal_id == 2 %}
                        <td>
                            <div class="btn-group" role="group">
                                <a href="/mascotas/editar/{{item.id}}" class="btn btn-success action" action="¿Usted está seguro de editar?"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                                <a href="/mascotas/eliminar/{{item.id}}" class="btn btn-danger action" action="¿Usted está seguro de eliminar?"><i class="fa-solid fa-trash"></i>Eliminar</a>
                            </div>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr style="text-align: center;">
                        <td colspan="10">No existen datos ingresados.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>



</div>



{% endblock %}


{% block custom_js %}

<script src="{{url_for('static', filename='js/crud/mascotas.js')}}"></script>

{% endblock %}