{%extends 'layout.html'%}



{% block body%}

<div class="container">

    <div class="mt-4 ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        Datos del Dueño de la Mascota
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <a class="btn btn-primary" href="/mascotas">Volver << </a>
                    </div>
                </div>

                <!-- de 12 columnas asignamos el uso de 4 -->

            </div>
            <form method="post">

                <div class="card-body">
                    <div class="col-md-12 ">
                        
                        <div class="row col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Rut del cliente (con guión y sin puntos)"
                                    aria-label="Rut del cliente" aria-describedby="btnBuscarcliente">
                                <button class="btn btn-outline-secondary" type="button" id="btnBuscarcliente">Buscar</button>
                            </div>
                        </div>


                        <div class="row gx-5 mb-3">
                            <div class="col-sm-6">
                                <label for="inputNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputNombre" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="inputApellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="inputApellido" required>
                            </div>
                        <div>
                        

                        <div class="row gx-5 mb-3">
                            <div class="col-sm-6">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="inputAddress" class="form-label">Dirrección</label>
                                <input type="text" class="form-control" id="inputAddress" required>
                            </div>



                        </div>
                    </div>
                </div>
                
            </form>
            
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        Datos de la Mascota
                    </div>
                </div>

            </div>
        </div>

            
            
            <form method="post">

                <div class="card-body">
                    <div class="col-md-12 ">
                        
                        
                        <div class="row gx-5 mb-3">
                            <div class="col-sm-4">
                                <label for="inputTipoMascota" class="form-label">Nombre de la Mascota</label>
                                <input type="text" class="form-control" id="inputTipoMascota" required >
                            </div>
                            <div class="col-sm-4">
                                <label for="inputTipoMascota" class="form-label">Tipo de Mascota</label>
                                <input type="text" class="form-control" id="inputTipoMascota" required >
                            </div>
                            <div class="col-sm-4">
                                <label for="inputRazaAnimal" class="form-label">Raza del Animal</label>
                                <input type="text" class="form-control" id="inputRazaAnimal" required>
                            </div>
                        </div>
                    
                        
                        
                        
                        <div class="row gx-5 mb-3">
                            
                            <div class="col-md-4">
                                <label for="inputEdad" class="form-label">Edad</label>
                                <input type="number"  class="form-control" maxlength="15" id="inputEdad" required>
                            
                            </div>
                            
                            <div class="col-md-4">
                                <label for="inputChip" class="form-label">Chip de la Mascota</label>
                                <input type="number"  class="form-control" maxlength="15" id="inputChip" required>
                            </div>

                            <div class="col-md-4">
                                <label for="#" class="form-label"">Teléfono</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">+56</span>
                                    <input type="tel" class="form-control" maxlength="9"  required>
                                </div>
                            </div>
    

                        </div>
                    
                        <div class="col-mb-6">
                            <label for="floatingTextarea" class="form-label">Descripción</label>
                            <textarea class="form-control" placeholder="Ingrese la descripción aquí" id="floatingTextarea"></textarea>
                        </div>


                    </div>


                    <!-- <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div> -->

                </div>
                
            </form>
            <div class="card-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </div>
        
        
    </div>
    



</div>



{% endblock %}

{% block custom_js%}

<script src="{{url_for('static', filename='js/crud/mascotas.js')}}"></script>

{% endblock %}